*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media only screen and (min-width: 90em) {
    font-size: 62.5%;
  }

  font-size: 56.25%;

  @media only screen and (max-width: $bp-lg) {
    font-size: 50%;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: $gray-text-color;
  font-weight: $fw-default;
}

.container {
  max-width: 144rem;
  height: 100vh;
  margin: 0 auto;
  padding: $s-24;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: max-content 1fr max-content;

  @media only screen and (max-width: $bp-md) {
    grid-template-columns: 1fr;
  }
}
